@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

body{
    background-image: url(imgs/background.png);
    background-size:100%;
    color: #fafafa;
    display: flex;
    flex-direction: column;
    max-width:100%;
    overflow-x:hidden;
    height: 2000px;
    margin: 0;
    padding: 0;
    font-family: "San Francisco";
}



.navbar{
    display: flex;
    flex-direction: row-reverse;
    height: 4rem;
    align-items: center;
    padding-right:1.5rem ;

}
nav ul{
    list-style-type: none;
    display: flex;
    gap: 2rem;


}
.nav-link{
    color: #fafafa;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight:bolder;
}


.section1{
    position: relative; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    /* height: 800px; */
    margin-top: 15rem;


    
}
.sec1-about1{
    grid-area: 1/1/1/2;
    align-self: center;
    text-align:left;
    padding-left: 1rem;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 10px;


}


.stk1{
    grid-area: 2/2/3/3;
    align-self: end;
    position: absolute;
    justify-self: center;
        
    
}


.text-name{
    grid-area: 2/1/3/4;
    align-self: center;
    font-size: 10rem;
    white-space: nowrap;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    animation-duration: 10s;
    animation-iteration-count:infinite;
    animation-name: scroll-text;
    text-transform: uppercase;
}

.sec1-about2{
    grid-area: 1/3/1/4;
    position:absolute;
    right: 1px;
    align-self: center;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 10px;


}
@keyframes scroll-text {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}


.section2{
    display: flex;
    flex-direction: row;
    background-color: black;
    padding: 10rem;
    align-items: center;
    justify-content: space-between;
    position: relative;


}

.effectsImg {

    margin-left: 5rem;
}
.section2 div h1{
    color: #F2613F;
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 0;


}
.section2 div h2{
    text-transform: uppercase;
    margin-top: 0;
}

.section3{
    background-color:  #9b38229b;
    display: grid;
    grid-template-columns: 2fr 3fr;
    border-radius: 10px;
    padding: 3rem;
    margin: 3rem;
    margin-top: 15rem;
    margin-bottom: 15rem;

    gap:3rem

}

.section3 h1{

    font-size: 3rem;
    font-weight: 900;
    align-self:first baseline;
}
.skills-section{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
}

#skill{
    background-color:#481e14 ;
    width: 5rem;
    height:6rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: center;
    /* font-weight: bold; */
    text-align: center;
    padding: 0.5rem;
}

.skills-section img {
    max-width: 50%;
    max-height: 50%;   
}

#skill p{
    font-size: 1rem;
    justify-content: end;
}




.section4{
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    background-color: black;
    padding: 1rem;
    padding-top: 5rem;
    position: relative;

}


.sidebar{
    display: flex;
    flex-direction: column;
    position:sticky;
    align-items: center;
    top: 5rem; 

    max-height: 15rem;

}
.projects-sidebar ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;


}
.project{
    color: #fafafa;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight:bolder;
}
.projects{
display: flex;
flex-direction: column;
gap: 5rem;
position: relative;

}
.projects-grid{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5rem;
    grid-template-columns: 1fr;

}
.projects img{
    width: 100%;
}

.project1-scrolling
{
background-color: #333;
  overflow: auto;
  white-space: nowrap;
  position: relative;
  grid-row: 1/2;

}

.project-tech{
    background-color: black;
    padding: 1rem;
    text-align: center;
    margin: 0;
    font-size: 0.8rem;
}
.projects-grid .something{
    grid-row: 1/2;
}

.project2-scrolling
{
background-color: #333;
  overflow: auto;
  white-space: nowrap;
  position: relative;
  grid-row: 2/3;

}
.project3-scrolling
{
background-color: #333;
  overflow: auto;
  white-space: nowrap;
  position: relative;
grid-row: 3/4;
}
.project4-scrolling
{
background-color: #333;
  overflow: auto;
  white-space: nowrap;
  position: relative;
  grid-row: 4/5;

}



/*  */